<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Landing Page</title>
</head>
<body>
	<h1>Welcome to the Telco Application</h1>

	<h2>Login</h2>
	<form action="CheckLogin" method="POST">
		Username: <input type="text" name="username" required> <br>
		Password: <input type="password" name="pwd" required><br>
		<input type="submit" value="Login">
		<p th:text=" ${errorMsg}"></p>
	</form>
	
	<br> <br>
	
	<form action="GoToHomePage" method="POST">
		<input type="submit" value="Continue without logging in">
	</form>
	
	<br> <br>
	
	<h2>Register</h2>
	<form action="Registration" method="POST">
		Username: <input type="text" name="username" required> <br>
		Email: <input type="text" name="email" required><br>
		Password: <input type="password" name="pwd" required><br>
		<input type="submit" value="Register">
		<p th:text=" ${registrationMsg}"></p>
	</form>

</body>
</html>