body {
	background-color: rgba(129, 228, 219, 0.4);
	padding-top: 1%;
 	padding-right: 5%;
  	padding-bottom: 5%;
 	padding-left: 5%;
}

table, th, tr {
	border: 1px solid black;
	text-align: center;	
}