<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Customer Telco Confirmation</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>

	<h1>Telco Confirmation Page</h1>

	<div th:if="${session.user == null}">
		<p>Before continue you need to login or register</p>
		<a th:href="@{/GoToLogin}">Login or Register</a>
	</div>

	<div th:if="${session.user != null}" align="right">
		<p th:text="${session.user.username}"></p>
		<a th:href="@{/Logout}">Logout</a>
	</div>
	
	<div th:if="${session.user != null}">
		<form th:action="@{/HandleOrder}" method="POST">
			<h2>Order summary</h2>
			<table>
				<tbody>
					<tr>
						<th>Package</th>
						<td th:text="${package.name}"></td>
					</tr>
					<tr th:if="${!optionalproducts.empty}" th:each="p : ${optionalproducts}">
						<th>Optional product</th>
						<td th:text="${p.name}"></td>
						<td><input type="hidden" name="products" th:value="${p.id}"></td>
					</tr>
					<tr>
						<th>Total price</th>
						<td th:text="${totalprice}"></td>
					</tr>
				</tbody>
			</table>
			<br>
			<input type="hidden" name="packageid" th:value="${package.id}">
			<input type="hidden" name="totalprice" th:value="${totalprice}">
			<input type="hidden" name="startdate" th:value="${startdate}">
			<input type="hidden" name="valperiod" th:value="${valperiod}">
			<input type="submit" name="typeofpayment" value="Correct payment">
			<br>
			<br> 			
			<input type="submit" name="typeofpayment" value="Failed payment">
		</form>
	</div>

</body>
</html>