<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Telco Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/style.css" th:href="@{/css/style.css}" />
</head>
<body>

	<h1>Telco Employee Home Page</h1>

	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>

	<!-- Form for create packages -->
	<h2>Create Service Package</h2>
	<form th:action="@{/CreatePackage}" method="POST">
		Name: <input type="text" name="packagename" required>
		<br> 
		<label for="valperiod">Choose 1 or more validity periods:</label>
		<table>
			<tbody>
				<tr th:each="v: ${valperiods}">
					<td th:text="${v.months}"></td>
					<td><input name="valperiod" th:value="${v.id}"
						type="checkbox"></td>
				</tr>
			</tbody>
		</table>
		<br> 
		<label for="optionalproduct">Choose 1 or more services:</label> 
		<br>
		<table>
			<tbody>
				<tr th:each="s: ${services}">
					<td th:text="${s.type}"></td>
					<td><input name="service" th:value="${s.id}"
						type="checkbox"></td>
				</tr>
			</tbody>
		</table>
		<br> 
		<label for="optionalproduct">Choose 0 or more optional products:</label> 
		<br>
		<table>
			<tbody>
				<tr th:each="p: ${products}">
					<td th:text="${p.name}"></td>
					<td th:text="${p.monthlyFee}"></td>
					<td><input name="optionalproduct" th:value="${p.id}"
						type="checkbox"></td>
				</tr>
			</tbody>
		</table>
		<br> 
		<input type="submit" value="Create package">
		<p th:text=" ${packageMsg}"></p>
	</form>
	
	<br>

	<!-- Form for create optional products -->
	<h2>Create Optional Product</h2>
	<form th:action="@{/CreateProduct}" method="POST">
		Name: <input type="text" name="productname" required><br>
		Monthly Fee: <input type="number" name="monthlyfee" required><br>
		<input type="submit" value="Create product">
		<p th:text=" ${productMsg}"></p>
	</form>

	<br>
	<br>

	<div>
		<a th:href="@{/GoToSalesReportPage}">Go to Sales Report Page</a>
	</div>

</body>
</html>