<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Customer Telco Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/style.css" th:href="@{/css/style.css}" />
</head>
<body>

	<h1>Telco Home Page</h1>

	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>

	<div th:if="${session.user != null}" align="right">
		<p th:text="${session.user.username}"></p>
	</div>

	<h2>Service Packages</h2>
	<h3>Click on the name of the package to buy it!</h3>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Validity Period</th>
				<th>Monthly Fee</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p : ${packages}">
				<td><a th:href="@{/GoToBuyServicePage(packageId=${p.id})}" th:text="${p.name}"></a></td>
				<td th:text="${p.valPeriod}"></td>
				<td th:text="${p.monthlyFee}"></td>
			</tr>
		</tbody>
	</table>
	
	<br> <br>
	
	<div th:if="${rejectedOrders != null}">
		<div th:if="${!rejectedOrders.empty}">
			<h2>Rejected Orders</h2>
			<table>
				<thead>
					<tr>
						<td>Date and Time</td>
						<td>Total Value</td>
						<td>Start Date</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="o : ${rejectedOrders}">
						<td th:text="${o.dateTime}"></td>
						<td th:text="${o.totalValue}"></td>
						<td th:text="${o.startDate}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
</body>
</html>