<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login and Registration Page</title>
</head>
<body>
	<h1>Telco Login and Registration</h1>

	<h2>Login</h2>
	<form th:action="@{/CheckLogin}" method="POST">
		Username: <input type="text" name="username" required> <br>
		Password: <input type="password" name="pwd" required><br>
		<input type="submit" value="Login">
		<p th:text=" ${loginMsg}"></p>
	</form>
	
	<br> <br>
	
	<h2>Register</h2>
	<form th:action="@{/Registration}" method="POST">
		Username: <input type="text" name="username" required> <br>
		Email: <input type="text" name="email" required><br>
		Password: <input type="password" name="pwd" required><br>
		<input type="submit" value="Register">
		<p th:text=" ${registrationMsg}"></p>
	</form>

</body>
</html>