<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Telco Sales Report</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>

	<h1>Telco Employee Sales Report Page</h1>

	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>

	<div>
		<h2>Purchases Per Package</h2>
		<table>
			<thead>
				<tr>
					<td>Package Id</td>
					<td>Package Name</td>
					<td>Number of Purchases</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${ppp}">
					<td th:text="${p.packageId}"></td>
					<td th:text="${p.packageName}"></td>
					<td th:text="${p.totPurchases}"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div>
		<h2>Purchases Per Package and Validity Period</h2>
		<table>
			<thead>
				<tr>
					<td>Package Id</td>
					<td>Package Name</td>
					<td>Validity Period</td>
					<td>Number of Purchases</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pvp : ${pppvp}">
					<td th:text="${pvp.id.packageId}"></td>
					<td th:text="${pvp.packageName}"></td>
					<td th:text="${pvp.valPeriodMonths} + ' months'"></td>
					<td th:text="${pvp.totPurchases}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div>
		<h2>Amount Sales Per Package</h2>
		<table>
			<thead>
				<tr>
					<td>Package Id</td>
					<td>Package Name</td>
					<td>Total amounts with optional products</td>
					<td>Total amounts without optional products</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="asp : ${aspp}">
					<td th:text="${asp.packageId}"></td>
					<td th:text="${asp.packageName}"></td>
					<td th:text="${asp.totSaleWithProducts}"></td>
					<td th:text="${asp.totSaleWithoutProducts}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div>
		<h2>Average Products Per Package</h2>
		<table>
			<thead>
				<tr>
					<td>Package Id</td>
					<td>Package Name</td>
					<td>Total products</td>
					<td>Total orders</td>
					<td>Average products</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="app : ${appp}">
					<td th:text="${app.packageId}"></td>
					<td th:text="${app.packageName}"></td>
					<td th:text="${app.totProducts}"></td>
					<td th:text="${app.totOrders}"></td>
					<td th:text="${app.avgProducts}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div>
		<h2>Best Seller Optional Product</h2>
		<table>
			<thead>
				<tr>
					<td>Product Id</td>
					<td>Product Name</td>
					<td>Number of Purchases</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${best} != null">
					<td th:text="${best.productId}"></td>
					<td th:text="${best.productName}"></td>
					<td th:text="${best.totAmount}"></td>
				</tr>	
			</tbody>
		</table>
	</div>
	
	<div>
		<h2>Insolvent Users</h2>
		<table>
			<thead>
				<tr>
					<td>User Id</td>
					<td>Username</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="u : ${insolventUsers}">
					<td th:text="${u.id}"></td>
					<td th:text="${u.username}"></td>
				</tr>	
			</tbody>
		</table>
	</div>
	
	<div>
		<h2>Rejected Orders</h2>
		<table>
			<thead>
				<tr>
					<td>Order Id</td>
					<td>Date time</td>
					<td>Total Value</td>
					<td>User Id</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="o : ${rejectedOrders}">
					<td th:text="${o.id}"></td>
					<td th:text="${o.dateTime}"></td>
					<td th:text="${o.totalValue}"></td>
					<td th:text="${o.user.id}"></td>
				</tr>	
			</tbody>
		</table>
	</div>
	
	<div>
		<h2>Alerts</h2>
		<table>
			<thead>
				<tr>
					<td>Alert Id</td>
					<td>User Id</td>
					<td>Total Amount</td>
					<td>Last Rejection</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="a : ${totAlerts}">
					<td th:text="${a.id}"></td>
					<td th:text="${a.user.id}"></td>
					<td th:text="${a.amount}"></td>
					<td th:text="${a.lastRejection}"></td>
				</tr>	
			</tbody>
		</table>
	</div>

</body>
</html>